In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

Matplotlib is building the font cache; this may take a moment.

In [6]:
dataset = pd.read_csv("C:/Users/USER/Documents/Data.csv")

In [7]:
dataset.head(5)

       Name  Gender  Age     Loan
0      John    Male   23  120,000
1      Mary  female   34   30,000
2       Joy  female   23   89,000
3  Mitchell  female   45   76,000
4     Grace  female   34   54,000

In [26]:
dataset.describe()

             Age
count  23.000000
mean   29.173913
std     6.912782
min    19.000000
25%    23.000000
50%    28.000000
75%    34.000000
max    45.000000

In [35]:
X=dataset.drop(columns=['Name','Gender','Loan']) 
y=dataset['Age'] 
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.2) 
Agepred = DecisionTreeClassifier()
Agepred.fit(X_train,y_train)
predictions = Agepred.predict(X_test)

score=accuracy_score(y_test, predictions)



print("This is the accuracy for the model",score)

This is the accuracy for the model 0.8

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices